/* Global Styles */
:root {
  --primary-color: #9b0000;
  --dark-color: #333333;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.fas.fa-sort-down {
  opacity: 0.5;
}

.fas.fa-sort-down.active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}
